
<div *ngIf="department">
    <h2><span>Department</span> {{department.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{department.name}}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
            <span>{{department.code}}</span>
        </dd>
        <dt><span>Tel</span></dt>
        <dd>
            <span>{{department.tel}}</span>
        </dd>
        <dt><span>Fax</span></dt>
        <dd>
            <span>{{department.fax}}</span>
        </dd>
        <dt><span>Mail</span></dt>
        <dd>
            <span>{{department.mail}}</span>
        </dd>
        <dt><span>Parent</span></dt>
        <dd>
            <div *ngIf="department.parentId">
                <a [routerLink]="['/department-sdm-suffix', department.parentId]">{{department.parentId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'department-sdm-suffix/'+ department.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
