
<div *ngIf="aRightPerson">
    <h2><span>A Right Person</span> {{aRightPerson.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Person Name</span></dt>
        <dd>
            <span>{{aRightPerson.personName}}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
            <span>{{aRightPerson.firstName}}</span>
        </dd>
        <dt><span>Job Id</span></dt>
        <dd>
            <span>{{aRightPerson.jobId}}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
            <span>{{aRightPerson.lastName}}</span>
        </dd>
        <dt><span>Other Name</span></dt>
        <dd>
            <span>{{aRightPerson.otherName}}</span>
        </dd>
        <dt><span>Sex</span></dt>
        <dd>
            <span>{{aRightPerson.sex}}</span>
        </dd>
        <dt><span>Birthday</span></dt>
        <dd>
            <span>{{aRightPerson.birthday | date:'medium'}}</span>
        </dd>
        <dt><span>Pic</span></dt>
        <dd>
            <span>{{aRightPerson.pic}}</span>
        </dd>
        <dt><span>Icon</span></dt>
        <dd>
            <span>{{aRightPerson.icon}}</span>
        </dd>
        <dt><span>Mobile</span></dt>
        <dd>
            <span>{{aRightPerson.mobile}}</span>
        </dd>
        <dt><span>Dep Id</span></dt>
        <dd>
            <span>{{aRightPerson.depId}}</span>
        </dd>
        <dt><span>Dep Address</span></dt>
        <dd>
            <span>{{aRightPerson.depAddress}}</span>
        </dd>
        <dt><span>Dep Code</span></dt>
        <dd>
            <span>{{aRightPerson.depCode}}</span>
        </dd>
        <dt><span>Duty Id</span></dt>
        <dd>
            <span>{{aRightPerson.dutyId}}</span>
        </dd>
        <dt><span>Dimission Flag</span></dt>
        <dd>
            <span>{{aRightPerson.dimissionFlag}}</span>
        </dd>
        <dt><span>Header Flag</span></dt>
        <dd>
            <span>{{aRightPerson.headerFlag}}</span>
        </dd>
        <dt><span>Satrap Flag</span></dt>
        <dd>
            <span>{{aRightPerson.satrapFlag}}</span>
        </dd>
        <dt><span>Leader Flag</span></dt>
        <dd>
            <span>{{aRightPerson.leaderFlag}}</span>
        </dd>
        <dt><span>Post Flag 1</span></dt>
        <dd>
            <span>{{aRightPerson.postFlag1}}</span>
        </dd>
        <dt><span>Post Flag 2</span></dt>
        <dd>
            <span>{{aRightPerson.postFlag2}}</span>
        </dd>
        <dt><span>Post Flag 3</span></dt>
        <dd>
            <span>{{aRightPerson.postFlag3}}</span>
        </dd>
        <dt><span>Office Tel</span></dt>
        <dd>
            <span>{{aRightPerson.officeTel}}</span>
        </dd>
        <dt><span>Fax</span></dt>
        <dd>
            <span>{{aRightPerson.fax}}</span>
        </dd>
        <dt><span>Mail 1</span></dt>
        <dd>
            <span>{{aRightPerson.mail1}}</span>
        </dd>
        <dt><span>Mail 2</span></dt>
        <dd>
            <span>{{aRightPerson.mail2}}</span>
        </dd>
        <dt><span>Family Tel</span></dt>
        <dd>
            <span>{{aRightPerson.familyTel}}</span>
        </dd>
        <dt><span>Family Add</span></dt>
        <dd>
            <span>{{aRightPerson.familyAdd}}</span>
        </dd>
        <dt><span>Family Code</span></dt>
        <dd>
            <span>{{aRightPerson.familyCode}}</span>
        </dd>
        <dt><span>Person Describe</span></dt>
        <dd>
            <span>{{aRightPerson.personDescribe}}</span>
        </dd>
        <dt><span>Id Code</span></dt>
        <dd>
            <span>{{aRightPerson.idCode}}</span>
        </dd>
        <dt><span>Pop 3</span></dt>
        <dd>
            <span>{{aRightPerson.pop3}}</span>
        </dd>
        <dt><span>Smtp</span></dt>
        <dd>
            <span>{{aRightPerson.smtp}}</span>
        </dd>
        <dt><span>Mail Username</span></dt>
        <dd>
            <span>{{aRightPerson.mailUsername}}</span>
        </dd>
        <dt><span>Mail Password</span></dt>
        <dd>
            <span>{{aRightPerson.mailPassword}}</span>
        </dd>
        <dt><span>Mail Keep Flag</span></dt>
        <dd>
            <span>{{aRightPerson.mailKeepFlag}}</span>
        </dd>
        <dt><span>Person Sort</span></dt>
        <dd>
            <span>{{aRightPerson.personSort}}</span>
        </dd>
        <dt><span>Level Num</span></dt>
        <dd>
            <span>{{aRightPerson.levelNum}}</span>
        </dd>
        <dt><span>Person State Id</span></dt>
        <dd>
            <span>{{aRightPerson.personStateId}}</span>
        </dd>
        <dt><span>By 01</span></dt>
        <dd>
            <span>{{aRightPerson.by01}}</span>
        </dd>
        <dt><span>By 02</span></dt>
        <dd>
            <span>{{aRightPerson.by02}}</span>
        </dd>
        <dt><span>By 03</span></dt>
        <dd>
            <span>{{aRightPerson.by03}}</span>
        </dd>
        <dt><span>By 04</span></dt>
        <dd>
            <span>{{aRightPerson.by04}}</span>
        </dd>
        <dt><span>By 05</span></dt>
        <dd>
            <span>{{aRightPerson.by05}}</span>
        </dd>
        <dt><span>By 06</span></dt>
        <dd>
            <span>{{aRightPerson.by06}}</span>
        </dd>
        <dt><span>By 07</span></dt>
        <dd>
            <span>{{aRightPerson.by07}}</span>
        </dd>
        <dt><span>By 08</span></dt>
        <dd>
            <span>{{aRightPerson.by08}}</span>
        </dd>
        <dt><span>By 09</span></dt>
        <dd>
            <span>{{aRightPerson.by09}}</span>
        </dd>
        <dt><span>By 10</span></dt>
        <dd>
            <span>{{aRightPerson.by10}}</span>
        </dd>
        <dt><span>Valid Type</span></dt>
        <dd>
            <span>{{aRightPerson.validType}}</span>
        </dd>
        <dt><span>Valid Begin</span></dt>
        <dd>
            <span>{{aRightPerson.validBegin | date:'medium'}}</span>
        </dd>
        <dt><span>Valid End</span></dt>
        <dd>
            <span>{{aRightPerson.validEnd | date:'medium'}}</span>
        </dd>
        <dt><span>Insert User Id</span></dt>
        <dd>
            <span>{{aRightPerson.insertUserId}}</span>
        </dd>
        <dt><span>Insert Person Id</span></dt>
        <dd>
            <span>{{aRightPerson.insertPersonId}}</span>
        </dd>
        <dt><span>Insert Time</span></dt>
        <dd>
            <span>{{aRightPerson.insertTime | date:'medium'}}</span>
        </dd>
        <dt><span>Upinstant User Id</span></dt>
        <dd>
            <span>{{aRightPerson.upinstantUserId}}</span>
        </dd>
        <dt><span>Upinstant Person Id</span></dt>
        <dd>
            <span>{{aRightPerson.upinstantPersonId}}</span>
        </dd>
        <dt><span>Upinstant Time</span></dt>
        <dd>
            <span>{{aRightPerson.upinstantTime | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'a-right-person-my-suffix/'+ aRightPerson.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
